/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.full {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #54f77a;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #e63030;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.yes {}
.no {}

@keyframes up-bump {
  0% { margin-top: 0em; }
  70% { margin-top: -0.5em; }
  100% { margin-top: 0em; }
}

.box.yes {
  background: linear-gradient(
          white, white 50%, #54f77a 50%, #54f77a
  );
  background-size: 100% 200%;
  transition: all 0.2s ease;
}
.box.no {
  background: linear-gradient(
          white, white 50%, #e63030 50%, #e63030
  );
  background-size: 100% 200%;
  transition: all 0.2s ease;
}
.box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.4s ease;
}